In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [79]:
df = pd.read_csv("assignment.csv")

In [80]:
df

,UID,Good_Bad,CUSTOMER_PROFILE_CODE,LOCATIONNAME,VEHICLEMODEL,ASSETCOST,LOANAMOUNT,EMI,TENURE,ADDRESSCONFIRMED,...,ASSETREGYEAR,LANDOWNERSHIP,IRRIGATIONSOURCE,CROPSCULTIVATED,DISTFROMSCELOCATION,DISTFROMDEALERLOCATION,IMGCONFIRM,TOTALEXPENSEPERMONTH,NETINCOMEPERMONTH,FOIR
0,1,Bad,PROF270,MADURAI,HONDA CITY 1.5 GXI PETROL 2008,900000.0,350000.0,13369.0,36.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,0.0,80000.0,17
1,2,Good,PROF218,KOLKATA,MARUTI SUZUKI EECO 7 STR PETROL 2011,400000.0,125250.0,5428.0,30.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,8000.0,27000.0,20
2,3,Good,PROF305,NAGPUR,MARUTI SUZUKI SWIFT VDI DIESEL 2013,450000.0,329250.0,8536.0,60.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,0.0,50000.0,17
3,4,Good,PROF356,AHMEDABAD,FORD ENDEAVOUR XLT 4X2 DIESEL 2008,600000.0,300000.0,11084.0,36.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,0.0,60000.0,18
4,5,Bad,PROF300,NAGPUR,MARUTI SUZUKI SWIFT DZIRE VDI BS IV DIESEL 2013,550000.0,429250.0,15898.0,36.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,10000.0,30000.0,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Bad,PROF245,BIKANER,MAHINDRA XUV500 W4 DIESEL 2014,750000.0,700000.0,18084.0,60.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,22844.0,47156.0,50
9996,9997,Bad,PROF096,VISAKHAPATNAM,NISSAN SUNNY XV DIESEL 2012,500000.0,404250.0,16283.0,36.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,30000.0,70000.0,23
9997,9998,Good,PROF358,ORISSA,MARUTI SUZUKI ALTO LXI PETROL 2010,300000.0,154250.0,4435.0,48.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,25000.0,20000.0,22
9998,9999,Bad,PROF372,SALEM,MAHINDRA XUV500 W8 DIESEL 2012,1400000.0,808500.0,23413.0,48.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,385000.0,215000.0,15
9999,10000,Good,PROF207,TIRUNELVELI,TOYOTA ETIOS LIVA GD DIESEL 2011,350000.0,254250.0,7840.0,48.0,Y,...,0.0,NaN,NaN,NaN,0.0,0.0,Y,0.0,200000.0,4

#                                             Data Preprocessing

In [81]:
df.describe()

,UID,ASSETCOST,LOANAMOUNT,EMI,TENURE,NOOFYEARSINSAMECITY,RESIDENCESTABILITY,RESIDENCELOCALITY,BUSINESSMARGINGROSS,INCOMEEMPLOYMENT,...,CURRENTBUSINESSSTABILITY,ASSETREGMONTH,ASSETREGYEAR,LANDOWNERSHIP,IRRIGATIONSOURCE,CROPSCULTIVATED,DISTFROMSCELOCATION,DISTFROMDEALERLOCATION,TOTALEXPENSEPERMONTH,NETINCOMEPERMONTH
count,10000.00000,9.855000e+03,9.855000e+03,9855.000000,9855.000000,9758.000000,9781.000000,9778.000000,9881.000000,9.852000e+03,...,9815.000000,0.0,9786.0,0.0,0.0,0.0,9786.0,9786.0,9.151000e+03,9.151000e+03
mean,5000.50000,5.287254e+05,3.870046e+05,12234.161542,45.119432,26.650618,78.625360,3.053385,8.111831,1.600213e+05,...,18.101189,NaN,0.0,NaN,NaN,NaN,0.0,0.0,2.829575e+04,7.112327e+04
std,2886.89568,3.183957e+05,2.386860e+05,6718.607922,12.179016,14.088494,4424.230301,0.515896,20.962192,5.049913e+06,...,706.511723,NaN,0.0,NaN,NaN,NaN,0.0,0.0,1.230618e+05,2.968032e+05
min,1.00000,0.000000e+00,5.000000e+04,1402.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.000000e+00,-2.200000e+05
25%,2500.75000,3.000000e+05,2.241250e+05,7750.000000,36.000000,20.000000,8.000000,3.000000,0.000000,4.000000e+04,...,5.000000,NaN,0.0,NaN,NaN,NaN,0.0,0.0,2.500000e+01,2.800000e+04
50%,5000.50000,4.750000e+05,3.500000e+05,11114.000000,48.000000,25.000000,20.000000,3.000000,0.000000,5.900000e+04,...,10.000000,NaN,0.0,NaN,NaN,NaN,0.0,0.0,1.200000e+04,4.000000e+04
75%,7500.25000,6.500000e+05,5.000000e+05,14918.000000,60.000000,35.000000,30.000000,3.000000,0.000000,1.000000e+05,...,15.000000,NaN,0.0,NaN,NaN,NaN,0.0,0.0,2.500000e+04,6.638050e+04
max,10000.00000,7.200000e+06,3.512750e+06,103000.000000,60.000000,401.000000,411014.000000,6.000000,100.000000,5.000000e+08,...,70000.000000,NaN,0.0,NaN,NaN,NaN,0.0,0.0,8.267919e+06,1.800000e+07

In [82]:
df.shape

(10000, 49)

### This dataset has 10000 row with 49 features

In [83]:
df.isnull().sum()

UID                             0
Good_Bad                        0
CUSTOMER_PROFILE_CODE           0
LOCATIONNAME                  128
VEHICLEMODEL                  147
ASSETCOST                     145
LOANAMOUNT                    145
EMI                           145
TENURE                        145
ADDRESSCONFIRMED              145
DESIGNATION                   220
RESIDENCETYPE                 242
NOOFYEARSINSAMECITY           242
RESIDENCESTABILITY            219
RESIDENCELOCALITY             222
BUSINESSCATEGORY              223
BUSINESSMARGINGROSS           119
INCOMEEMPLOYMENT              148
STABILITYINBUSINESS           112
STABILITYCONFIRMED            107
STABILTIYCONFIRMEDTHRU       1800
ISFAMILYINVOLVED              110
OFFICETYPE                    224
MONTHLYTURNOVER               109
STOCKVALUEINHAND              109
BUSINESSMARGINNET             113
NOOFEMPLOYEES                 126
NAMEBOARDSEEN                 126
OFFICELOCALITY                242
ISRESIDENCECOMEOFFICE         180
ENDUSEOFLOAN                  249
ENDUSEOFASSET                 258
ASSETLOCATION                1811
NEIGHBOURREF                  145
POLITICALLINK                 199
PROFESSIONTYPE                265
CURRENTBUSINESSSTABILITY      185
APPLICANTDESIGNATION          269
ASSETREGMONTH               10000
ASSETREGYEAR                  214
LANDOWNERSHIP               10000
IRRIGATIONSOURCE            10000
CROPSCULTIVATED             10000
DISTFROMSCELOCATION           214
DISTFROMDEALERLOCATION        214
IMGCONFIRM                    162
TOTALEXPENSEPERMONTH          849
NETINCOMEPERMONTH             849
FOIR                            0
dtype: int64

### As ASSETREGMONTH , LANDOWNERSHIP , IRRIGATIONSOURCE, CROPSCULTIVATED has no values so it has no impact on dataset. Better Remove it.

In [84]:
df = df.drop(['LANDOWNERSHIP', 'IRRIGATIONSOURCE', 'CROPSCULTIVATED', 'ASSETREGMONTH'], axis = 1)
df.head()

,UID,Good_Bad,CUSTOMER_PROFILE_CODE,LOCATIONNAME,VEHICLEMODEL,ASSETCOST,LOANAMOUNT,EMI,TENURE,ADDRESSCONFIRMED,...,PROFESSIONTYPE,CURRENTBUSINESSSTABILITY,APPLICANTDESIGNATION,ASSETREGYEAR,DISTFROMSCELOCATION,DISTFROMDEALERLOCATION,IMGCONFIRM,TOTALEXPENSEPERMONTH,NETINCOMEPERMONTH,FOIR
0,1,Bad,PROF270,MADURAI,HONDA CITY 1.5 GXI PETROL 2008,900000.0,350000.0,13369.0,36.0,Y,...,SEP,2.0,PROPREITOR,0.0,0.0,0.0,Y,0.0,80000.0,17
1,2,Good,PROF218,KOLKATA,MARUTI SUZUKI EECO 7 STR PETROL 2011,400000.0,125250.0,5428.0,30.0,Y,...,SEP,15.0,PROP,0.0,0.0,0.0,Y,8000.0,27000.0,20
2,3,Good,PROF305,NAGPUR,MARUTI SUZUKI SWIFT VDI DIESEL 2013,450000.0,329250.0,8536.0,60.0,Y,...,SEP,3.0,PROPRIETOR,0.0,0.0,0.0,Y,0.0,50000.0,17
3,4,Good,PROF356,AHMEDABAD,FORD ENDEAVOUR XLT 4X2 DIESEL 2008,600000.0,300000.0,11084.0,36.0,Y,...,SEP,20.0,PROPRIETOR,0.0,0.0,0.0,Y,0.0,60000.0,18
4,5,Bad,PROF300,NAGPUR,MARUTI SUZUKI SWIFT DZIRE VDI BS IV DIESEL 2013,550000.0,429250.0,15898.0,36.0,Y,...,SEP,15.0,SELF EMPLOYED,0.0,0.0,0.0,Y,10000.0,30000.0,53

In [85]:
df = df.dropna()
print(df)       # we have removed all the rows with null values.

       UID Good_Bad CUSTOMER_PROFILE_CODE   LOCATIONNAME  \
0        1      Bad               PROF270        MADURAI
1        2     Good               PROF218        KOLKATA
2        3     Good               PROF305         NAGPUR
6        7     Good               PROF324     CHANDIGARH
8        9      Bad               PROF285           ROWB
...    ...      ...                   ...            ...
9994  9995      Bad               PROF289      HYDERABAD
9995  9996      Bad               PROF245        BIKANER
9996  9997      Bad               PROF096  VISAKHAPATNAM
9997  9998     Good               PROF358         ORISSA
9998  9999      Bad               PROF372         SALEM

                                VEHICLEMODEL  ASSETCOST  LOANAMOUNT      EMI  \
0             HONDA CITY 1.5 GXI PETROL 2008   900000.0    350000.0  13369.0
1       MARUTI SUZUKI EECO 7 STR PETROL 2011   400000.0    125250.0   5428.0
2        MARUTI SUZUKI SWIFT VDI DIESEL 2013   450000.0    329250.0   8536.0
6     TOYOTA INNOVA 2.5 G4 7 STR DIESEL 2011   280000.0    234250.0  11809.0
8        HYUNDAI EON D LITE PLUS PETROL 2013   225000.0    184250.0   4837.0
...                                      ...        ...         ...      ...
9994  MARUTI SUZUKI ALTO K10 VXI PETROL 2011   160000.0    110000.0   5612.0
9995          MAHINDRA XUV500 W4 DIESEL 2014   750000.0    700000.0  18084.0
9996             NISSAN SUNNY XV DIESEL 2012   500000.0    404250.0  16283.0
9997      MARUTI SUZUKI ALTO LXI PETROL 2010   300000.0    154250.0   4435.0
9998          MAHINDRA XUV500 W8 DIESEL 2012  1400000.0    808500.0  23413.0

      TENURE ADDRESSCONFIRMED  ... PROFESSIONTYPE CURRENTBUSINESSSTABILITY  \
0       36.0                Y  ...            SEP                      2.0
1       30.0                Y  ...            SEP                     15.0
2       60.0                Y  ...            SEP                      3.0
6       24.0                Y  ...            SEP                     20.0
8       60.0                Y  ...            SEP                      3.0
...      ...              ...  ...            ...                      ...
9994    24.0                Y  ...            SEP                     10.0
9995    60.0                Y  ...            SEP                      7.0
9996    36.0                Y  ...            SEP                     10.0
9997    48.0                Y  ...            SEP                      3.0
9998    48.0                Y  ...            SEP                      1.5

      APPLICANTDESIGNATION  ASSETREGYEAR  DISTFROMSCELOCATION  \
0               PROPREITOR           0.0                  0.0
1                     PROP           0.0                  0.0
2               PROPRIETOR           0.0                  0.0
6                     PROP           0.0                  0.0
8               PROPRIETOR           0.0                  0.0
...                    ...           ...                  ...
9994           PROPRIETOR            0.0                  0.0
9995            PROPREITOR           0.0                  0.0
9996            PROPRIETOR           0.0                  0.0
9997           PROPERATOR            0.0                  0.0
9998         CORRESPONDENT           0.0                  0.0

     DISTFROMDEALERLOCATION  IMGCONFIRM  TOTALEXPENSEPERMONTH  \
0                       0.0           Y                   0.0
1                       0.0           Y                8000.0
2                       0.0           Y                   0.0
6                       0.0           Y               37000.0
8                       0.0           Y               27000.0
...                     ...         ...                   ...
9994                    0.0           Y               22000.0
9995                    0.0           Y               22844.0
9996                    0.0           Y               30000.0
9997                    0.0           Y               25000.0
9998                    0.0           Y              385000.0

      NETINCOMEPERMONTH FOIR
0               80000.0   17
1               27000.0   20
2               50000.0   17
6               38000.0   35
8               18000.0   27
...                 ...  ...
9994            28000.0   20
9995            47156.0   50
9996            70000.0   23
9997            20000.0   22
9998           215000.0   15

[6430 rows x 45 columns]

In [86]:
df.shape

(6430, 45)

In [87]:
dfcat = df.select_dtypes(include=['object']).copy()
dfcat     # a new dataframe for the columns with categorical data.

,Good_Bad,CUSTOMER_PROFILE_CODE,LOCATIONNAME,VEHICLEMODEL,ADDRESSCONFIRMED,DESIGNATION,RESIDENCETYPE,BUSINESSCATEGORY,STABILITYCONFIRMED,ISFAMILYINVOLVED,...,OFFICELOCALITY,ISRESIDENCECOMEOFFICE,ENDUSEOFLOAN,ASSETLOCATION,NEIGHBOURREF,POLITICALLINK,PROFESSIONTYPE,APPLICANTDESIGNATION,IMGCONFIRM,FOIR
0,Bad,PROF270,MADURAI,HONDA CITY 1.5 GXI PETROL 2008,Y,APPLICANT,R,PR005,N,Y,...,2,N,WON USE,MADURAI,POSITIVE,N,SEP,PROPREITOR,Y,17
1,Good,PROF218,KOLKATA,MARUTI SUZUKI EECO 7 STR PETROL 2011,Y,SELF,O,PR005,N,Y,...,1,Y,NOT,BANGAON,POSITIVE,N,SEP,PROP,Y,20
2,Good,PROF305,NAGPUR,MARUTI SUZUKI SWIFT VDI DIESEL 2013,Y,ELDER BROTHER,O,PR005,Y,N,...,2,N,PERSONAL,NAGPUR,POSITIVE,N,SEP,PROPRIETOR,Y,17
6,Good,PROF324,CHANDIGARH,TOYOTA INNOVA 2.5 G4 7 STR DIESEL 2011,Y,SELF,O,PR005,Y,Y,...,2,N,APPLICANT,DHADRIAN,POSITIVE,N,SEP,PROP,Y,35
8,Bad,PROF285,ROWB,HYUNDAI EON D LITE PLUS PETROL 2013,Y,PROPREITOR,O,PR005,Y,Y,...,2,N,PERSONAL,PANAGARH,POSITIVE,N,SEP,PROPRIETOR,Y,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,Bad,PROF289,HYDERABAD,MARUTI SUZUKI ALTO K10 VXI PETROL 2011,Y,APPLICANT,R,PR005,Y,N,...,2,N,SALE PURCHASE,NALGONDA,POSITIVE,N,SEP,PROPRIETOR,Y,20
9995,Bad,PROF245,BIKANER,MAHINDRA XUV500 W4 DIESEL 2014,Y,SELF,O,PR005,N,N,...,2,N,PURCHASE THE VEHICLE,BIKANER,POSITIVE,N,SEP,PROPREITOR,Y,50
9996,Bad,PROF096,VISAKHAPATNAM,NISSAN SUNNY XV DIESEL 2012,Y,SELF,O,PR005,Y,Y,...,2,Y,ASSET TO BE USED BY APPLICANT,VIZAG,POSITIVE,N,SEP,PROPRIETOR,Y,23
9997,Good,PROF358,ORISSA,MARUTI SUZUKI ALTO LXI PETROL 2010,Y,PROJECT MANAGER,R,PR005,Y,Y,...,1,Y,GIVEN TO SALLER,BHUBANESWER,POSITIVE,N,SEP,PROPERATOR,Y,22
9998,Bad,PROF372,SALEM,MAHINDRA XUV500 W8 DIESEL 2012,Y,APPLICANT,O,PR006,Y,Y,...,2,N,APPLICANT,UTHANGARAI,POSITIVE,N,SEP,CORRESPONDENT,Y,15

In [88]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

dfcat1 = dfcat.apply(le.fit_transform)
dfcat1         # lebel encoding the categorical data.

,Good_Bad,CUSTOMER_PROFILE_CODE,LOCATIONNAME,VEHICLEMODEL,ADDRESSCONFIRMED,DESIGNATION,RESIDENCETYPE,BUSINESSCATEGORY,STABILITYCONFIRMED,ISFAMILYINVOLVED,...,OFFICELOCALITY,ISRESIDENCECOMEOFFICE,ENDUSEOFLOAN,ASSETLOCATION,NEIGHBOURREF,POLITICALLINK,PROFESSIONTYPE,APPLICANTDESIGNATION,IMGCONFIRM,FOIR
0,0,110,46,278,1,44,2,4,0,1,...,1,0,1419,1020,1,0,4,971,1,59
1,1,65,41,1111,1,356,1,4,0,1,...,0,1,743,174,1,0,4,910,1,68
2,1,137,48,1363,1,173,1,4,1,0,...,1,0,806,1193,1,0,4,987,1,59
6,1,153,15,1982,1,356,1,4,1,1,...,1,0,70,426,1,0,4,910,1,101
8,0,124,56,337,1,309,1,4,1,1,...,1,0,806,1305,1,0,4,987,1,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,0,127,28,1018,1,45,2,4,1,0,...,1,0,1122,1198,1,0,4,988,1,68
9995,0,87,13,893,1,356,1,4,0,0,...,1,0,998,254,1,0,4,971,1,120
9996,0,26,68,1537,1,356,1,4,1,1,...,1,1,236,1915,1,0,4,987,1,77
9997,1,178,50,1058,1,296,2,4,1,1,...,0,1,626,245,1,0,4,925,1,76
9998,0,191,58,913,1,44,1,5,1,1,...,1,0,69,1832,1,0,4,350,1,47

In [158]:
df1 = df.select_dtypes(include=['object'])
df1

,Good_Bad,CUSTOMER_PROFILE_CODE,LOCATIONNAME,VEHICLEMODEL,ADDRESSCONFIRMED,DESIGNATION,RESIDENCETYPE,BUSINESSCATEGORY,STABILITYCONFIRMED,ISFAMILYINVOLVED,...,OFFICELOCALITY,ISRESIDENCECOMEOFFICE,ENDUSEOFLOAN,ASSETLOCATION,NEIGHBOURREF,POLITICALLINK,PROFESSIONTYPE,APPLICANTDESIGNATION,IMGCONFIRM,FOIR
0,Bad,PROF270,MADURAI,HONDA CITY 1.5 GXI PETROL 2008,Y,APPLICANT,R,PR005,N,Y,...,2,N,WON USE,MADURAI,POSITIVE,N,SEP,PROPREITOR,Y,17
1,Good,PROF218,KOLKATA,MARUTI SUZUKI EECO 7 STR PETROL 2011,Y,SELF,O,PR005,N,Y,...,1,Y,NOT,BANGAON,POSITIVE,N,SEP,PROP,Y,20
2,Good,PROF305,NAGPUR,MARUTI SUZUKI SWIFT VDI DIESEL 2013,Y,ELDER BROTHER,O,PR005,Y,N,...,2,N,PERSONAL,NAGPUR,POSITIVE,N,SEP,PROPRIETOR,Y,17
6,Good,PROF324,CHANDIGARH,TOYOTA INNOVA 2.5 G4 7 STR DIESEL 2011,Y,SELF,O,PR005,Y,Y,...,2,N,APPLICANT,DHADRIAN,POSITIVE,N,SEP,PROP,Y,35
8,Bad,PROF285,ROWB,HYUNDAI EON D LITE PLUS PETROL 2013,Y,PROPREITOR,O,PR005,Y,Y,...,2,N,PERSONAL,PANAGARH,POSITIVE,N,SEP,PROPRIETOR,Y,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,Bad,PROF289,HYDERABAD,MARUTI SUZUKI ALTO K10 VXI PETROL 2011,Y,APPLICANT,R,PR005,Y,N,...,2,N,SALE PURCHASE,NALGONDA,POSITIVE,N,SEP,PROPRIETOR,Y,20
9995,Bad,PROF245,BIKANER,MAHINDRA XUV500 W4 DIESEL 2014,Y,SELF,O,PR005,N,N,...,2,N,PURCHASE THE VEHICLE,BIKANER,POSITIVE,N,SEP,PROPREITOR,Y,50
9996,Bad,PROF096,VISAKHAPATNAM,NISSAN SUNNY XV DIESEL 2012,Y,SELF,O,PR005,Y,Y,...,2,Y,ASSET TO BE USED BY APPLICANT,VIZAG,POSITIVE,N,SEP,PROPRIETOR,Y,23
9997,Good,PROF358,ORISSA,MARUTI SUZUKI ALTO LXI PETROL 2010,Y,PROJECT MANAGER,R,PR005,Y,Y,...,1,Y,GIVEN TO SALLER,BHUBANESWER,POSITIVE,N,SEP,PROPERATOR,Y,22
9998,Bad,PROF372,SALEM,MAHINDRA XUV500 W8 DIESEL 2012,Y,APPLICANT,O,PR006,Y,Y,...,2,N,APPLICANT,UTHANGARAI,POSITIVE,N,SEP,CORRESPONDENT,Y,15

In [160]:
a = df1.columns
a

Index(['Good_Bad', 'CUSTOMER_PROFILE_CODE', 'LOCATIONNAME', 'VEHICLEMODEL',
       'ADDRESSCONFIRMED', 'DESIGNATION', 'RESIDENCETYPE', 'BUSINESSCATEGORY',
       'STABILITYCONFIRMED', 'ISFAMILYINVOLVED', 'OFFICETYPE',
       'BUSINESSMARGINNET', 'NOOFEMPLOYEES', 'NAMEBOARDSEEN', 'OFFICELOCALITY',
       'ISRESIDENCECOMEOFFICE', 'ENDUSEOFLOAN', 'ASSETLOCATION',
       'NEIGHBOURREF', 'POLITICALLINK', 'PROFESSIONTYPE',
       'APPLICANTDESIGNATION', 'IMGCONFIRM', 'FOIR'],
      dtype='object')

In [161]:
type(a)

pandas.core.indexes.base.Index

In [162]:
df3 = df.drop(labels = a, axis = 1)
df3

,UID,ASSETCOST,LOANAMOUNT,EMI,TENURE,NOOFYEARSINSAMECITY,RESIDENCESTABILITY,RESIDENCELOCALITY,BUSINESSMARGINGROSS,INCOMEEMPLOYMENT,...,STABILTIYCONFIRMEDTHRU,MONTHLYTURNOVER,STOCKVALUEINHAND,ENDUSEOFASSET,CURRENTBUSINESSSTABILITY,ASSETREGYEAR,DISTFROMSCELOCATION,DISTFROMDEALERLOCATION,TOTALEXPENSEPERMONTH,NETINCOMEPERMONTH
0,1,900000.0,350000.0,13369.0,36.0,20.0,4.0,3.0,0.0,80000.0,...,5.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,80000.0
1,2,400000.0,125250.0,5428.0,30.0,45.0,45.0,3.0,0.0,35000.0,...,6.0,0.0,0.0,1.0,15.0,0.0,0.0,0.0,8000.0,27000.0
2,3,450000.0,329250.0,8536.0,60.0,15.0,15.0,3.0,0.0,50000.0,...,5.0,50000.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,50000.0
6,7,280000.0,234250.0,11809.0,24.0,42.0,42.0,3.0,0.0,75000.0,...,5.0,50000.0,1000000.0,1.0,20.0,0.0,0.0,0.0,37000.0,38000.0
8,9,225000.0,184250.0,4837.0,60.0,35.0,35.0,3.0,65.0,45000.0,...,6.0,75000.0,100000.0,1.0,3.0,0.0,0.0,0.0,27000.0,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,160000.0,110000.0,5612.0,24.0,5.0,1.0,3.0,0.0,50000.0,...,5.0,0.0,0.0,1.0,10.0,0.0,0.0,0.0,22000.0,28000.0
9995,9996,750000.0,700000.0,18084.0,60.0,20.0,20.0,3.0,0.0,70000.0,...,5.0,0.0,0.0,1.0,7.0,0.0,0.0,0.0,22844.0,47156.0
9996,9997,500000.0,404250.0,16283.0,36.0,20.0,15.0,3.0,0.0,100000.0,...,5.0,0.0,0.0,1.0,10.0,0.0,0.0,0.0,30000.0,70000.0
9997,9998,300000.0,154250.0,4435.0,48.0,17.0,17.0,3.0,16.0,45000.0,...,5.0,200000.0,100000.0,1.0,3.0,0.0,0.0,0.0,25000.0,20000.0
9998,9999,1400000.0,808500.0,23413.0,48.0,50.0,20.0,3.0,0.0,600000.0,...,1.0,0.0,0.0,1.0,1.5,0.0,0.0,0.0,385000.0,215000.0

In [93]:
df3.shape

(6430, 21)

In [94]:
type(df)

pandas.core.frame.DataFrame

In [95]:
type(dfcat1)

pandas.core.frame.DataFrame

In [96]:
df4 = pd.concat([df3, dfcat1], axis = 1 )
df4

,UID,ASSETCOST,LOANAMOUNT,EMI,TENURE,NOOFYEARSINSAMECITY,RESIDENCESTABILITY,RESIDENCELOCALITY,BUSINESSMARGINGROSS,INCOMEEMPLOYMENT,...,OFFICELOCALITY,ISRESIDENCECOMEOFFICE,ENDUSEOFLOAN,ASSETLOCATION,NEIGHBOURREF,POLITICALLINK,PROFESSIONTYPE,APPLICANTDESIGNATION,IMGCONFIRM,FOIR
0,1,900000.0,350000.0,13369.0,36.0,20.0,4.0,3.0,0.0,80000.0,...,1,0,1419,1020,1,0,4,971,1,59
1,2,400000.0,125250.0,5428.0,30.0,45.0,45.0,3.0,0.0,35000.0,...,0,1,743,174,1,0,4,910,1,68
2,3,450000.0,329250.0,8536.0,60.0,15.0,15.0,3.0,0.0,50000.0,...,1,0,806,1193,1,0,4,987,1,59
6,7,280000.0,234250.0,11809.0,24.0,42.0,42.0,3.0,0.0,75000.0,...,1,0,70,426,1,0,4,910,1,101
8,9,225000.0,184250.0,4837.0,60.0,35.0,35.0,3.0,65.0,45000.0,...,1,0,806,1305,1,0,4,987,1,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,160000.0,110000.0,5612.0,24.0,5.0,1.0,3.0,0.0,50000.0,...,1,0,1122,1198,1,0,4,988,1,68
9995,9996,750000.0,700000.0,18084.0,60.0,20.0,20.0,3.0,0.0,70000.0,...,1,0,998,254,1,0,4,971,1,120
9996,9997,500000.0,404250.0,16283.0,36.0,20.0,15.0,3.0,0.0,100000.0,...,1,1,236,1915,1,0,4,987,1,77
9997,9998,300000.0,154250.0,4435.0,48.0,17.0,17.0,3.0,16.0,45000.0,...,0,1,626,245,1,0,4,925,1,76
9998,9999,1400000.0,808500.0,23413.0,48.0,50.0,20.0,3.0,0.0,600000.0,...,1,0,69,1832,1,0,4,350,1,47

In [97]:
df4.describe

<bound method NDFrame.describe of        UID  ASSETCOST  LOANAMOUNT      EMI  TENURE  NOOFYEARSINSAMECITY  \
0        1   900000.0    350000.0  13369.0    36.0                 20.0
1        2   400000.0    125250.0   5428.0    30.0                 45.0
2        3   450000.0    329250.0   8536.0    60.0                 15.0
6        7   280000.0    234250.0  11809.0    24.0                 42.0
8        9   225000.0    184250.0   4837.0    60.0                 35.0
...    ...        ...         ...      ...     ...                  ...
9994  9995   160000.0    110000.0   5612.0    24.0                  5.0
9995  9996   750000.0    700000.0  18084.0    60.0                 20.0
9996  9997   500000.0    404250.0  16283.0    36.0                 20.0
9997  9998   300000.0    154250.0   4435.0    48.0                 17.0
9998  9999  1400000.0    808500.0  23413.0    48.0                 50.0

      RESIDENCESTABILITY  RESIDENCELOCALITY  BUSINESSMARGINGROSS  \
0                    4.0                3.0                  0.0
1                   45.0                3.0                  0.0
2                   15.0                3.0                  0.0
6                   42.0                3.0                  0.0
8                   35.0                3.0                 65.0
...                  ...                ...                  ...
9994                 1.0                3.0                  0.0
9995                20.0                3.0                  0.0
9996                15.0                3.0                  0.0
9997                17.0                3.0                 16.0
9998                20.0                3.0                  0.0

      INCOMEEMPLOYMENT  ...  OFFICELOCALITY  ISRESIDENCECOMEOFFICE  \
0              80000.0  ...               1                      0
1              35000.0  ...               0                      1
2              50000.0  ...               1                      0
6              75000.0  ...               1                      0
8              45000.0  ...               1                      0
...                ...  ...             ...                    ...
9994           50000.0  ...               1                      0
9995           70000.0  ...               1                      0
9996          100000.0  ...               1                      1
9997           45000.0  ...               0                      1
9998          600000.0  ...               1                      0

      ENDUSEOFLOAN  ASSETLOCATION  NEIGHBOURREF  POLITICALLINK  \
0             1419           1020             1              0
1              743            174             1              0
2              806           1193             1              0
6               70            426             1              0
8              806           1305             1              0
...            ...            ...           ...            ...
9994          1122           1198             1              0
9995           998            254             1              0
9996           236           1915             1              0
9997           626            245             1              0
9998            69           1832             1              0

      PROFESSIONTYPE  APPLICANTDESIGNATION  IMGCONFIRM  FOIR
0                  4                   971           1    59
1                  4                   910           1    68
2                  4                   987           1    59
6                  4                   910           1   101
8                  4                   987           1    87
...              ...                   ...         ...   ...
9994               4                   988           1    68
9995               4                   971           1   120
9996               4                   987           1    77
9997               4                   925           1    76
9998               4                   350           1    47

[6430 rows x 45 columns]>

In [106]:
d = df4['Good_Bad']
d

0       0
1       1
2       1
6       1
8       0
       ..
9994    0
9995    0
9996    0
9997    1
9998    0
Name: Good_Bad, Length: 6430, dtype: int32

In [108]:
data = df4.drop(['Good_Bad'], axis = 1)

In [109]:
data1 = pd.concat([d, data], axis = 1)

In [110]:
data1

,Good_Bad,UID,ASSETCOST,LOANAMOUNT,EMI,TENURE,NOOFYEARSINSAMECITY,RESIDENCESTABILITY,RESIDENCELOCALITY,BUSINESSMARGINGROSS,...,OFFICELOCALITY,ISRESIDENCECOMEOFFICE,ENDUSEOFLOAN,ASSETLOCATION,NEIGHBOURREF,POLITICALLINK,PROFESSIONTYPE,APPLICANTDESIGNATION,IMGCONFIRM,FOIR
0,0,1,900000.0,350000.0,13369.0,36.0,20.0,4.0,3.0,0.0,...,1,0,1419,1020,1,0,4,971,1,59
1,1,2,400000.0,125250.0,5428.0,30.0,45.0,45.0,3.0,0.0,...,0,1,743,174,1,0,4,910,1,68
2,1,3,450000.0,329250.0,8536.0,60.0,15.0,15.0,3.0,0.0,...,1,0,806,1193,1,0,4,987,1,59
6,1,7,280000.0,234250.0,11809.0,24.0,42.0,42.0,3.0,0.0,...,1,0,70,426,1,0,4,910,1,101
8,0,9,225000.0,184250.0,4837.0,60.0,35.0,35.0,3.0,65.0,...,1,0,806,1305,1,0,4,987,1,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,0,9995,160000.0,110000.0,5612.0,24.0,5.0,1.0,3.0,0.0,...,1,0,1122,1198,1,0,4,988,1,68
9995,0,9996,750000.0,700000.0,18084.0,60.0,20.0,20.0,3.0,0.0,...,1,0,998,254,1,0,4,971,1,120
9996,0,9997,500000.0,404250.0,16283.0,36.0,20.0,15.0,3.0,0.0,...,1,1,236,1915,1,0,4,987,1,77
9997,1,9998,300000.0,154250.0,4435.0,48.0,17.0,17.0,3.0,16.0,...,0,1,626,245,1,0,4,925,1,76
9998,0,9999,1400000.0,808500.0,23413.0,48.0,50.0,20.0,3.0,0.0,...,1,0,69,1832,1,0,4,350,1,47

In [116]:
x = data1.iloc[:,1:]
x

,UID,ASSETCOST,LOANAMOUNT,EMI,TENURE,NOOFYEARSINSAMECITY,RESIDENCESTABILITY,RESIDENCELOCALITY,BUSINESSMARGINGROSS,INCOMEEMPLOYMENT,...,OFFICELOCALITY,ISRESIDENCECOMEOFFICE,ENDUSEOFLOAN,ASSETLOCATION,NEIGHBOURREF,POLITICALLINK,PROFESSIONTYPE,APPLICANTDESIGNATION,IMGCONFIRM,FOIR
0,1,900000.0,350000.0,13369.0,36.0,20.0,4.0,3.0,0.0,80000.0,...,1,0,1419,1020,1,0,4,971,1,59
1,2,400000.0,125250.0,5428.0,30.0,45.0,45.0,3.0,0.0,35000.0,...,0,1,743,174,1,0,4,910,1,68
2,3,450000.0,329250.0,8536.0,60.0,15.0,15.0,3.0,0.0,50000.0,...,1,0,806,1193,1,0,4,987,1,59
6,7,280000.0,234250.0,11809.0,24.0,42.0,42.0,3.0,0.0,75000.0,...,1,0,70,426,1,0,4,910,1,101
8,9,225000.0,184250.0,4837.0,60.0,35.0,35.0,3.0,65.0,45000.0,...,1,0,806,1305,1,0,4,987,1,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,160000.0,110000.0,5612.0,24.0,5.0,1.0,3.0,0.0,50000.0,...,1,0,1122,1198,1,0,4,988,1,68
9995,9996,750000.0,700000.0,18084.0,60.0,20.0,20.0,3.0,0.0,70000.0,...,1,0,998,254,1,0,4,971,1,120
9996,9997,500000.0,404250.0,16283.0,36.0,20.0,15.0,3.0,0.0,100000.0,...,1,1,236,1915,1,0,4,987,1,77
9997,9998,300000.0,154250.0,4435.0,48.0,17.0,17.0,3.0,16.0,45000.0,...,0,1,626,245,1,0,4,925,1,76
9998,9999,1400000.0,808500.0,23413.0,48.0,50.0,20.0,3.0,0.0,600000.0,...,1,0,69,1832,1,0,4,350,1,47

In [118]:
y = data1.iloc[:,:1]
y

      Good_Bad
0            0
1            1
2            1
6            1
8            0
...        ...
9994         0
9995         0
9996         0
9997         1
9998         0

[6430 rows x 1 columns]

##  We are done with data preprocessing

## Now we will start Feature Engineering

In [134]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
pca.fit(x)

principalComponents = pca.transform(x)
principalDf = pd.DataFrame(data = principalComponents)

In [135]:
principalDf    # feature engineered columns

,0,1,2,3,4,5,6,7,8,9
0,-332214.676812,1683.612694,2.088223e+05,-215864.959484,-41670.436757,249261.557100,5340.243971,1476.797254,-9.086774,88.743649
1,-338948.230072,4655.233913,-2.240980e+05,106065.785210,-12861.581245,132962.392142,5169.862629,-605.532674,9.329321,-730.040645
2,-295059.210168,-23735.745755,-8.939145e+04,14405.163793,-22091.264610,-1480.968420,4890.986687,-2508.246341,12.890194,285.833877
3,252123.805814,812701.557635,-2.161119e+05,165938.334566,16497.587936,-23735.299925,5317.525853,3160.999121,12.192244,-505.567373
4,-222451.661405,47481.136363,-2.955773e+05,186451.767673,14867.145879,-17117.624062,4916.729271,-2538.919027,14.291913,333.005946
...,...,...,...,...,...,...,...,...,...,...
6425,-340941.965475,5359.624372,-3.589140e+05,258030.104232,3737.416710,3718.424105,-4828.862334,817.511797,-107.433849,267.827825
6426,-331598.000320,1655.368443,2.639242e+05,-283980.800341,11563.707926,-119779.784231,-5224.018025,-1566.270449,-30.155077,-676.388792
6427,-335163.645134,2788.179973,1.356654e+04,-223.966948,666.504199,-29872.960938,-4693.383693,4034.242709,-67.189215,991.093960
6428,-117531.189629,-21329.769163,-2.676868e+05,156064.652526,9880.794332,51364.500626,-4977.158533,-1540.621790,-90.528500,-634.002730
6429,-317591.078222,-6584.893159,1.096599e+06,-248841.358367,283482.160784,205397.090004,-4931.846165,142.451998,-19.255867,1020.779682

In [137]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(x, y)

c:\users\kabir\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=20,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [140]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
 
lr = LinearRegression()

rfe = RFE(lr, n_features_to_select=10)
rfe.fit(x_train,y_train)

c:\users\kabir\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=10, step=1, verbose=0)

In [148]:
s = rfe.support_   # We will take column with where it gives true
s

array([False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False,  True,
       False,  True,  True, False, False, False, False,  True,  True,
       False, False,  True,  True, False, False,  True, False])

In [146]:
rfe.ranking_          # these are the ranking of columns of the given dataset which we should take in the consideration rank wise.

array([23, 26, 30, 25,  8, 15, 18,  1, 10, 29, 20,  7, 32, 31,  2,  6, 33,
       35, 34, 27, 28, 14, 12, 22,  1, 19,  1,  3,  1,  1,  4,  5, 11, 13,
        1,  1, 21, 17,  1,  1,  9, 24,  1, 16])